#drop ul {
    color: #FFF;
    list-style:none;
    padding-left:0;
    z-index: 2;
}

.big {
    font-size: 22px;
    padding: 20px 100px 20px 100px;
    text-align: center;
}

#drop nav ul ul {
	display: none;
}

	#drop nav ul li:hover > ul {
		display: block;
	}
#drop nav ul {
	font-size: 20;
	background: #1A3325; /* Background */
    border-radius: 2px;
	padding: 0 10px;
	margin: 10px 0 0 0;
	list-style: none;
	position: relative;
	display: inline-table;
}
	#drop nav ul:after {
		content: ""; 
		clear: both;
		display: block;
	}
#drop nav ul li {
	float: left;
    list-style:none;
}
	#drop nav ul li:hover {
		border-radius: 2%;
		background: #53350A; /* Background */
        -webkit-stroke-width: 4.2px;
		-webkit-stroke-color: #FFFFFF;
		-webkit-fill-color: #FFFFFF;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
		
	}
		#drop nav ul li:hover a {
			border-radius: 2px;
			color: #FFFFFF; /* Color */
			-webkit-stroke-width: 4.2px;
			-webkit-stroke-color: #FFFFFF;
			-webkit-fill-color: #FFFFFF;
		}
	
	#drop nav ul li a {
		display: block; 
		color: #fff; /* Color */
		text-decoration: none;
        -webkit-animation: fadein 0.3s; /* Safari and Chrome */
        -moz-animation: fadein 0.3s; /* Firefox */
        -ms-animation: fadein 0.3s; /* Internet Explorer */
        -o-animation: fadein 0.3s; /* Opera */
        animation: fadein 0.3s;
	}
#drop nav ul ul {
	background: #1A3325; /* Background */
	position: absolute; 
	top: 87%;
    width: 500px;
}
	#drop nav ul ul li {
		float: none; 
		border-top: 1px solid #154129;
		border-bottom: 1px solid #154129;
		position: relative;
        padding: 15px;
        color: #fff;
	}
		#drop nav ul ul li a {
			color: #7D5B11; /* Color */
		}	
			#drop nav ul ul li a:hover {
				border-radius: 2px;
				background: #53350A; /* Background */
				-webkit-stroke-width: 4.2px;
				-webkit-stroke-color: #FFFFFF;
				-webkit-fill-color: #FFFFFF;
				-webkit-transition: all .15s ease-out;
				-moz-transition: all .15s ease-out;
				-ms-transition: all .15s ease-out;
				-o-transition: all .15s ease-out;
				transition: all .15s ease-out;
			}
#drop nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top: -23%;
    width: 50%;
}


/*			Animation		*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}?

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}?



